textarea {
    resize: none;
}
body {
    background-color: #ffc799;
}
h1
{
    text-align : center;
    color: red;
    font-size: 225%;
}
h2
{
    text-align : center;
    font-size: 175%;
}

button[type=disconnect], button[type=tiwiter] {
    color: red;
    padding: 14px 20px;
    margin: 8px 35%;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius:12px;
}
button[type=tiwiter] {
    color: blue;
    padding: 14px 20px;
    margin: 8px 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius:12px;
}
textarea{
    text-align:center;
    margin: 8px 28%;
    border-radius:12px;
}
input:focus
{
    background-color: deepskyblue;
}

button:hover
{
    background-color: dodgerblue;
}