body {
    background-color: #ffc799;
}
h1
{
    text-align : center;
    color: red;
    font-size: 225%;
}

input[type=text], input[type=password]{
    text-align : center;
    width: 30%;
    margin : 8px 35%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type=submit], button[type=back] {
    color: red;
    padding: 14px 20px;
    margin: 8px 35%;
    border: none;
    cursor: pointer;
    width: 30%;
}
input:focus
{
    background-color: deepskyblue;
}

button:hover
{
    background-color: dodgerblue;
}